{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mis perris</title>
        <link rel="stylesheet" href="{% static 'css/misperris.css' %}">
        <link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/lib/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/lib/owl-carousel/owl.theme.default.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/lib/hover-min.css' %}">
        <link rel="stylesheet" href="{% static 'css/lib/scrolling/aos.css' %}">
    </head>
    <body>
        <header>
            <div class="main-container">
                <div class="logotipo">
                    <img src="img/logo.png" alt="">
                </div>
                <nav>
                    <ul class="menu-desktop">
                        <li>
                            <a href="index.html">Inicio</a>
                        </li>
                        <li>
                            <a href="#rescate">Rescate</a>
                        </li>
                        <li>
                            <a href="#galeria">Galería</a>
                        </li>
                       
                        <li>
                            <a href="#contacto">Contáctanos</a>
                        </li>
                    </ul>
                    
                    <ul class="menu-movil">
                        <li>
                            <a href="index.html">Inicio</a>
                        </li>
                        <li>
                            <a href="#rescate">Rescate</a>
                        </li>
                        <li>
                            <a href="#galeria">Galería</a>
                        </li>
                        
                        <li>
                            <a href="#contacto">Contáctanos</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <div class="portada">
            <div id="carrusel" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="border">
                    <img src="{% static 'img/adoptados/Tom.jpg' %}" alt="">
                    <div class="box-item">
                        <div class="borde">
                        <h3>Tom: Un dulce bebe</h3>
                        <p>Estamos felices de tener a tom en casa. Es un super fiel compañero"</p>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="item">
                    <div class="border">
                    <img src="{% static 'img/adoptados/Apolo.jpg' %}" alt="">
                    <div class="box-item">
                        <div class="borde">
                        <h3>Apolo: Un sobreviviente</h3>
                        <p>"Es un angelito en vida, hoy parte una nueva historia junto a su familia."</p>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="item">
                    <div class="border">
                    <img src="{% static 'img/adoptados/Duque.jpg' %}" alt="">
                    <div class="box-item">
                        <div class="borde">
                        <h3>Duque: La vida en las montañas</h3>
                        <p>"Es extrovertido y jugueton. Le encanta que lo mimen."</p>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="submenu">
            <div class="main-container">
                <div class="row">
                    <div class="col-12">
                        <div class="box">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img class="icon" src="{% static 'img/icons/facebook.svg' %}" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="icon" src="{% static 'img/icons/google.svg' %}" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="icon" src="{% static 'img/icons/instagram.svg' %}" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="icon" src="{% static 'img/icons/gmail.svg' %}" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SERVICIOS -->
        <div class="main-container">
            <div id="rescate" class="servicios" data-aos="fade-up">
                <div class="row">
                    <div class="col-md-6">
                        <article class="rescate">
                            <h2>RESCATE</h2>
                            <span class="bajada">ETAPA UNO</span>
                            <div class="divisor"></div>
                            <p>Rescatamos perros en situación de peligro y/o abandono. los rehabilitamos y los preparamos para buscarles un hogar.</p>
                            <img src="{% static 'img/rescate.jpg' %}" alt="">
                        </article>
                    </div>
                    <div class="col-md-6">
                        <article class="crowdfunding">
                            <img src="{% static 'img/crowfunding.jpg' %}" alt="">
                            <h2>CROWDFUNDING</h2>
                            <span class="bajada">FINANCIAMIENTO</span>
                            <div class="divisor"></div>
                            <p>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y
                                actividades que realizamos para obtener financiamiento para seguir ayudando.
                            </p>
                            <button class="btn-outline-black">CAMPAÑAS</button>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <!-- GALERIA -->
        <div id="galeria" class="galeria">
            <div class="main-container">
                <h2 class="title-text">Galería</h2>
                <p class="parr-text">Conóce a nuestras sobrevivientes</p>
                <div class="row">
                    {% for mascota in mascotas %}
                        <div class="col-4 box hvr-fade hvr-underline-from-center" data-aos="zoom-out-down">
                            <img src="{{ mascota.imagen.url }}" class="img-fluid" alt="Responsive image">
                            <div class="box-info">
                                <h2>{{ mascota.nombre }}</h2>
                                <p>{{ mascota.descripcion }}</p> 
                                <div class="box-boton">
                                    <a href="#contacto" class="btn btn-outline-light">ADÓPTAME</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
                
            <!-- FORMULARIO -->
            <div id="contacto" class="contacto" data-aos="fade-up">
                <div class="main-container">
                    <h2>Contáctanos</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Guardar</button>
                    </form>
                    <!-- <form class="row" action="#" id="miformulario" >
                        
                        <div class="form-group col-md-6 " >
                            <label for="inputNombre">Nombre Completo</label>
                            <input type="text" class="form-control" name="inputNombre" id="inputNombre" minlength="3" aria-describedby="nombreHelp" required placeholder="Nombre completo">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                                                 <div class="form-group col-md-6 ">
                                <label for="inputRut">Rut</label>
                                <input type="text"  class="form-control input-rut" name="inputRut" id="inputRut" maxlength="12" aria-describedby="nombreHelp" required placeholder="Rut ej:11.111.111-1">
                            </div>
                        
                        <div class="form-group col-md-6 ">
                            <label for="inputEmail">Correo electrónico</label>
                            <input type="email" class="form-control" name="inputEmail" id="inputEmail" aria-describedby="emailHelp" required placeholder="nombre@dominio.cl">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                       
                       
                        <div class="form-group col-md-6 ">
                            <label for="inputFechaNacimiento">Fecha Nacimiento</label>
                            <input type="date" class="form-control" name="inputFechaNacimiento" id="inputFechaNacimiento"  name="inputFechaNacimiento" max="2000-12-31" required aria-describedby="fechaNacimientoHelp" >
                        </div>
                       
                        <div class="form-group col-md-6 ">
                            <label for="inputTelefono">Telefono</label>
                            <input type="tel" class="form-control" name="inputTelefono" id="inputTelefono" maxlength="9" aria-describedby="TelefonoHelp" name="inputTelefono"  required placeholder="Ingrese telefono">
                            <small id="rutHelp" class="form-text text-muted">Ejemplo: 215333722</small>
                        </div>
                        
                        <div class="form-group col-md-6 ">
                            <label for="inputRegion">Región</label>
                            <select id="inputRegion"  class="form-control" name="inputregion" id="inputregion" required>
                                <option value="0" disabled selected>Selecione...</option >
                                <option value="TA">I Tarapacá</option>
                                <option value="AN">II Antofagasta</option>
                                <option value="ata">III Atacama</option>
                                <option value="CO">IV Coquimbo</option>
                                <option value="VA">V Valparaíso</option>
                                <option value="ME">RM Metropolitana</option>
                                <option value="OH">VI O'Higgins</option>
                                <option value="MA">VII Maule</option>
                                <option value="BI">VIII Biobío</option>
                                <option value="AR">IX Araucanía</option>
                                <option value="RI">XIV Los Ríos</option>
                                <option value="LA">X Los Lagos</option>
                                <option value="AI">XI Aisén</option>
                                <option value="MAG">XII Magallanes y Antártica</option>
                            </select>
                        </div>
                        
                        <div class="form-group col-md-6 ">
                            <label for="inputCiudad">Ciudad</label>
                            <select id="inputCiudad" class="form-control" name="inputCiudad" id="inputCiudad" required>
                                <option disabled selected>seleciones...</option>
                                <option value="01">Santiago de chile</option>
                                <option value="02">concepción</option>
                                <option value="03">Valdivia</option>
                                <option value="04">Viña del M</option>
                                <option value="05">La Serena</option>
                                <option value="06">Providencia</option>
                                <option value="07">Iquique</option>
                                <option value="08">Arica</option>
                                <option value="09">Temuco</option>
                                <option value="10">Rancagua</option>
    
    
    
                            </select>
                        </div>
                   
                        <div class="form-group col-md-6 ">
                            <label for="inputTipoVivienda">Tipo de vivienda</label>
                            <select id="inputTipoVivienda" class="form-control" name="inputtipo" id="inputtipo" required>
                                <option value="0" disabled selected>Selecione...</option>
                                <option value="1">Casa con patio grande</option>
                                <option value="2">Casa con patio pequeño</option>
                                <option value="3">Casa sin patio</option>
                                <option value="4">Departamento</option>
                            </select>
                        </div>
                        
                        <div class="center container">
                            <button type="submit" class="btn btn btn-primary btn-lg">Enviar</button>
                        </div>
                    </form>
                     -->
                </div>
            </div>
        
        <footer>
            <div class="main-container">
                <p>Desarrollo Web y Mobile</p>
            </div>
        </footer>
        <!-- JQUERY -->
    <script src="{% static 'js/libs/jquery.min.js' %}"></script>  
    <!-- PLUGIN CARRUSEL -->
    <script src="{% static 'js/libs/owl-carousel/owl.carousel.js' %}"></script>
    <!-- BOOTSTRAP CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <!-- PLUGIN RUT CHILENO -->
    <script src="{% static 'js/libs/rut-chileno/jquery.rut.min.js' %}"></script>
    <!-- PLUGIN JQUERY VALIDATE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <!-- PLUGIN JQUERY SCROLLING -->
    <script src="{% static 'js/libs/scrolling/aos.js' %}"></script>
    <!-- FUNCIONES PROPIAS -->
    <script src="{% static 'js/funciones.js' %}"></script>
    </body>
</html>